# Python virtual environment
.venv/
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Local development files
/node_modules

*.faiss
/data/faiss_index/
